URxvt.font: \
xft:SourceCodePro-Regular Font:antialias=true:size=10, \
            xft:DejaVuSansMono Nerd Font:antialias=true:size=11:minspace=False, \
            xft:DroidSansMono Nerd Font Mono:antialias=true:size=16, \
            xft:FuraMono NF:size=16:antialias=true:minspace=False, \
            xft:RobotoMono Nerd Font:antialias=true:size=16:minspace=False, \
            xft:Noto Sans Mono:antialias=true:size=16:minspace=False, \
            xft:Monospace:style=Medium:antialias=true:minspace=False

URxvt.foreground: #FFFFFF
URxvt.background: #263238
URxvt.cursorColor: #FFFFFF
